body {
  background-image: url(josh-allen-17-bills-jbgey6kgyya0gzon.jpg);
  background-size: contain;
  /* background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to bottom, #00338d, #c60c30); */
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
}

.container {
  /* background-image: url(josh-allen-17-bills-jbgey6kgyya0gzon.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0px; */
  /* height: 100vh; */
}

h1 {
  color: #fff;
  text-align: center;
  margin: 0px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 100px;
}

#startButton {
  display: block;
  margin: auto;
  padding: 10px 50px;
  background-color: #c60c30;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

#score-timer-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* margin-top: 20px; */
}

#score,
#timer {
  /* display: flex; */
  /* flex-direction: row; */
  color: #fff;
  text-align: center;
  margin: 10px;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
}

#finalMessage {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 150px); */
}

.gameBoard {
  /* background: #fff; */
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 20px;
  justify-content: center;
  /* margin-top: 20px; */
  /* padding: 50px; */
}

.hole {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  border: 5px dotted #c60c30;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hole img {
  max-width: 55%;
  max-height: 55%;
  border-radius: 50%;
  /* opacity: 0; */
  object-fit: cover;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.hole.active img {
  /* opacity: 1; */
  transform: scale(1.1);
}

/* .hole img.clicked {
  border: 4px solid green;
} */

@keyframes pop {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hole.pop img {
  animation: pop 0.3s ease-in-out;
}
